joy_node:
  ros__parameters:
    device_id: 0
    deadzone: 0.05
    autorepeat_rate: 20.0

teleop_node:
  ros__parameters:
    axis_linear:
      x: 1  # Left stick vertical
    scale_linear:
      x: 1.0
    scale_linear_turbo:
      x: 2.0

    axis_angular: 
      yaw: 3  # Left stick horizontal
    scale_angular:
      yaw: 1.0
    scale_angular_turbo:
      yaw: 2.0

    enable_button: 5  # Right bumper
    enable_turbo_button: 3 # Y

    require_enable_button: true
